# Data Science Tools and Ecosystem

## Author
Mark Wesolowski

This notebook will summarize Data Science Tools and Ecosystems.

**Objectives:**
- List popular languages used in Data Science
- List commonly used libraries in Data Science
- List tools used in Data Science
- Demonstrate code execution of arithmetic expressions

The following are some of the popular languages that Data Scientists use:
1. Python
2. R
3. Java
4. Scala
5. C++
6. JavaScript
7. Julia

The following are libraries commonly used by Data Scientists:
1. Matplotlib 
2. Seaborn
3. Scikit-learn 
4. Keras 
5. Vegas 
6. ggplot2

| Data Science Tools |
| ------------------ |
| Jupyter Lab        | 
| RStudio            | 
| Spyder             |

### Here are some examples of using Python to evaluate arithmetic expressions:

In [4]:
# This expression is to first multiply integers and then add integers 
(3*4)+5

17

In [5]:
# This will convert 200 minutes into hours by dividing by 60
200/60

3.3333333333333335